<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'issues')}">

<body>

  <h2>Issue</h2>
  <form th:object="${issue}" class="form-horizontal" id="add-issue-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Title', 'title', 'text')}" />
      <textarea rows="20" cols="80" th:field="*{description}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${issue['new']} ? 'Add Issue' : 'Update Issue'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Issue</button>
      </div>
    </div>
  </form>
</body>
</html>
